<header>
    <div class="main-header">
        <div class="top-header">
            <ul class="contact-details">
                <li><img src="assets\icons\phone.png" class="icons"> +982466738</li>
                <li><img src="assets\icons\email.png" class="icons"> abc@gmail.com</li>
                <li><img src="assets\icons\add.png" class="icons"> xyz address</li>
            </ul>
            <img src="https://ubisafe.org/images/transparent-logo-book-5.png" class="logo-img">
        </div>    
        <div class="title">
            <h3>The Books Villa</h3>
        </div>
    </div>
</header>